body{
    background-color: white;
    color: white;
}

/*--------header / footer style ---------*/

.container-header, .Nav-wrap, .header-content{
    display: flex;
    flex-direction: row;
}
.container-header{
    width: 100%;
    justify-content: center;
    background-color: #111111;
    color: white;
}
.header-content{
    width: 100%;
    justify-content: space-between;
}
.Logo-wrap{
    width: 125px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 25px;
    border-radius: 15px;
    cursor: pointer;
}
.logo{
    width: 100%;
    background: #A6051A;
    border-radius: 5px;
}
.Nav-wrap{
    width: fit-content;
    justify-content: space-around;
    align-items: center;
}
.header{
    color: #A6051A;
}
.nav-header-btn{
    width: fit-content;
    max-width: 150px;
    height: 35px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 15px;
    padding-right: 15px;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    transition: 0.2s;
    background-color: #A6051A;
    color: white;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}.nav-header-btn:hover{
    background-color: white;
    color: #111111;
    transition: 0.2s;
}
.nav-header-btn[name="navbar"]{
    margin-bottom: 25px;
    margin-top: 25px;
    width: 80%;
}
/*---------Navbar style--------------*/

.nav-wrap{
    min-width: 220px;
    max-width: 250px;
    height: 100vh;
    background-color: #111111;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    overflow: hidden;
}

/*--------- page style --------------*/

.Container-view{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.content-wrap{
    width: 80%;
    max-width: 1440px;
    border-radius: 10px;
    margin: 0 auto;
    color: #111111;
}
.titleModules{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-bottom: 50px;
}